
# At least Ansible 2.12 is needed due to used features like 'argument_specs'
# 2.12.10 fixes an issue with installing ansible-galaxy collections
ansible>=2.12.10

## ansible/yaml lint
ansible-lint~=6.22.2
yamllint~=1.33.0

## molecule tests
molecule~=24.2.0
molecule-plugins~=23.5.0
docker~=7.0.0
