
# At least Ansible 2.12 is needed due to used features like 'argument_specs'
# 2.12.10 fixes an issue with installing ansible-galaxy collections
ansible>=2.12.10

## ansible/yaml lint
ansible-lint~=24.2.1
yamllint~=1.35.1

## molecule tests
molecule~=24.2.1
molecule-plugins~=23.5.3
docker~=7.0.0
